<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Tên sản phẩm" formControlName="name" />
  <div
    *ngIf="
      form.get('name').invalid &&
      (form.get('name').dirty || form.get('name').touched)
    "
  >
    <div *ngIf="form.get('name')?.errors?.required">
      Tên sản phẩm không được để trống
    </div>
    <div *ngIf="form.get('name')?.errors?.minlength">
      Tên sản phẩm phải có ít nhất 6 ký tự
    </div>
  </div>
  <input type="number" placeholder="Giá sản phẩm" formControlName="price" />
  <div
    *ngIf="
      form.get('price').invalid &&
      (form.get('price').dirty || form.get('price').touched)
    "
  >
    <div *ngIf="form.get('price')?.errors?.required">
      Tên sản phẩm không được để trống
    </div>
  </div>
  <button type="submit">Save</button>
</form>
