<form (ngSubmit)="onHandleAdd()">
  <div>
    <label>Tên sản phẩm</label>
    <input
      type="text"
      [(ngModel)]="product.name"
      name="name"
      #name="ngModel"
      required
      min="10"
    />
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <p *ngIf="name.errors?.['required']">Trường Name là bắt buộc</p>
      <p *ngIf="name.errors?.['min']">Trường Name ít nhất 10 ký tự</p>
    </div>
  </div>
  <div>
    <label>Giá sản phẩm</label>
    <input type="number" [(ngModel)]="product.price" name="price" />
  </div>
  <div>
    <label>Tình trạng</label>
    <input type="checkbox" [(ngModel)]="product.available" name="available" />
  </div>
  <div>
    <label>Loại sản phẩm</label>
    <input type="radio" [(ngModel)]="product.type" name="type" value="Loại 1" />
    <input type="radio" [(ngModel)]="product.type" name="type" value="Loại 2" />
  </div>
  <div>
    <label>Danh mục</label>
    <select name="category" [(ngModel)]="product.category" id="">
      <option value="Danh mục 1">Danh mục 1</option>
      <option value="Danh mục 2">Danh mục 2</option>
    </select>
  </div>
  <button>Submit</button>
</form>
