<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Code</th>
      <th scope="col">Available</th>
      <th scope="col">Price</th>
      <th scope="col">Star Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.code }}</td>
      <td>{{ product.available ? "Yes" : "No" }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.starRating }}</td>
    </tr>
  </tbody>
</table>
