<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Code</th>
      <th scope="col">Available</th>
      <th scope="col">Price</th>
      <th scope="col">Star Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for( product of products; track product.id; let i = $index) {
    <tr>
      <td scope="row">{{ i + 1 }}</td>
      <td><img [src]="product.imageUrl" width="50" height="50" /></td>
      <td>{{ product.name }}</td>
      <td>{{ product.code }}</td>
      <td>{{ product.available ? "Yes" : "No" }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.starRating }}</td>
      <td>
        <button (click)="onRemove(product.id)">Xóa</button>
        <button (click)="setProduct(product)">Chi tiết</button>
      </td>
    </tr>
    } @empty {
    <tr>
      <td colspan="8">There are no items.</td>
    </tr>
    }
  </tbody>
</table>
<hr />
@if(selectedProduct){
<app-product-detail [product]="selectedProduct"></app-product-detail>
}
<!-- hiển thị chi tiết sản phẩm -->
<!-- 
1. Xóa sản phẩm: sử dụng event binding
2. Click vào button chi tiết, hiển thị dữ liệu dưới table
  2.1 Khai báo biến productDetail
  2.2 Click vào button chi tiết, gán giá trị cho productDetail
  2.3 Hiển thị productDetail dưới table
-->
