<div class="container mt-5">
  <h2>Đăng nhập</h2>
  <form [formGroup]="signinForm" (ngSubmit)="onHandleSignin()">
    <div class="mb-3">
      <label for="" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" htmlType="submit">Đăng nhập</button>
    </div>
  </form>
</div>
